/* font style code  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* .poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
   */

/* universal  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", serif;
    background-color: #aaaaaa1a;
}

/* header-area */
.header{
    max-width: 1340px;
    margin: 50px auto;
    /* border: 1px solid; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_title{
    font-size: 1.5rem;
    font-weight: 700;
}
.links{
    display: flex;
    

}
.links li{
    list-style: none;
    margin-right: 2rem;
}
.links li a{
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

/* banner-area */

.banner_container{
    display: flex;
    margin: 80px 0;
    justify-content: space-between;

    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: top right;
}
.banner_contant{
    max-width: 582px;
    
}
.banner_title{
    font-size: 3.5rem;
    margin: 10px 0;
}
.banner_btn_box{
    margin-top:30px;
}

.banner_btn_box button{
    color:white ;
    background-color: #E02C6D;
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
}
.banner_images_box img{
    width: 100%;
}


/* here is so many shared style */

.text_color_gray{
    color: #787885;
    font-weight: 700;
    margin: 10px 0;
    line-height: 1.8rem;

}

/* main area */

  /* section-part-one */

.icon_container{
    max-width: 1240px;
    margin:100px auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    box-shadow: 0 0 3px bisque;
    padding: 40px 30px;
    gap: 60px;
    align-items: center;
    
}

/* section-part-two */

.images_container{
    max-width: 1140px;
    margin:50px auto ;

}

.cards_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid black; */
    gap:25px;
}
.image_box{
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px black;
    
}
.image_box_title{
    font-size: 1.8rem;
    margin: 10px 0;

}
.image_box_number{
    font-size: 1.5rem;
}

.image_contant_box{
    max-width: 340px;
    margin: 30px auto;
    
}
.image_contant_box h3{
    font-size: 1.8rem;
    font-weight: 600;
}
.images_btn_box{
    text-align: right;
    margin: 10px 0;
}
.images_btn_box button{
    padding: 10px 15px;
    color: #E02C6D;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    border-radius: 15px;
}

/* section_part-three  */

.featured_container{
    max-width: 1240px;
    margin: 100px auto;
    display: flex;
    gap: 100px;
    align-items: center;
    /* border: 1px solid ; */
}
.featured_contant_box{
max-width: 650px;
}

.featured_contant_title{
    font-size: 2.5rem;
}
.featured_btn_box{
    margin: 30px 0;
}

.featured_btn_box button{
    padding: 15px 40px ;
    background-color: #E02C6D;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
}
/* footer area */

.footer{
    background-color: #0A0826;
}
.footer_contant_box{
    max-width: 400px;
    margin: 50px auto;
    color: white;
    text-align: center;
    padding:50px 0;
}
.footer_title{
    font-size: 1.5rem;
}
.footer_images_container{
    display: flex;
    justify-content: center;
    gap:30px;
}
.footer_images_container img{
    filter: grayscale(100%);
    background-color: #787885;
    padding: 5px 5px;
    border-radius: 50%;
}