/* small device responsive */

@media screen and (max-width:576px) {
    .header{
        padding: 0 10px;
    }
    .navbar
    {

        flex-direction: column;
        align-items: center ;
    }
    .links{
        display: flex;
        flex-direction: ;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin: 20px 0;
    }
    #image{
        display: none;
    }
    
    
.banner_container{
    flex-direction: column-reverse;
    background-size: 350px;
    background-position: top;
    align-items: center;
}
.banner_contant{
    max-width: 582px;
    text-align: center;
}
.banner_btn_box{
    margin-top:30px;
}

.banner_images_box{
    margin-bottom: 50px;
    max-width: 300px;

}
    .banner_title{
        font-size: 1.8rem;
        margin: 10px 0;
    }

    /* section-one */
    .icon_container{
        margin:50px auto;
        grid-template-columns:repeat(3,1fr);
        box-shadow:none;
        gap:20px;
        row-gap:40px;
        justify-items: center;
    }
    /* section-part-two */
    .images_container{
        max-width: 1140px;
        margin:0px auto ;
    
    }
    .cards_container{
        grid-template-columns: repeat(1,1fr);
        padding: 20px 10px;
        justify-items: center;
    }
    .image_contant_box{
        text-align: center;
    }
    .images_btn_box{
        text-align:center;
    
    }

    /* section-container-three */
    .featured_container{
        max-width: 1240px;
        margin: 100px auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* border: 1px solid ; */
        padding: 0 20px;
    }
    .featured_image_box img{
        width: 100%;
      }
    .featured_contant_title{
        font-size: 2rem;
    }
    .featured_contant_box{
     text-align: center;
    }
}



/* medium device responsive */
@media screen and (min-width:576px) and (max-width:990px) {
    .banner_container{
        flex-direction:column-reverse;
        background-size: 380px;
        background-position:top;
        align-items: center;
    }
    .banner_contant{
        max-width: 582px;
        text-align: center;
        justify-items: center;
    }
    .banner_images_box img{
        max-width: 350px;
    }
    .banner_images_box{
     margin-bottom: 50px;
    }

    /* section-part-one */
    .icon_container{
        max-width: 1240px;
        margin:150px auto;
        grid-template-columns: repeat(4,1fr);
        box-shadow: none;
        padding: 40px 40px;
        gap:40px;
       justify-items: center;
        
       
        
    }    
    /* section-tow */
    .images_container{
        margin:0px auto ;
    
    }

    .cards_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* border: 1px solid black; */
        gap:25px;
        padding: 20px 30px;
        justify-items: center;
    }
    .image_contant_box{
        max-width: 340px;
        margin: 30px auto;
        text-align: center;
        
    }
    .images_btn_box{
        text-align: center;
        margin: 10px 0;
    }

    /* section-part-three */
    .featured_container{
        flex-direction: column;
       text-align: center;
    }
    /* footer */
  
}